<html>
    <head>
    </head>
    <body>
        <form method='POST' action='/login'>

            <input name='Email' type='email'>
            <input name='Password'>
        </form>
    </body>
</html>