<html> 
         <head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
        <h1> <%= message %></h1> 
        <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
        <p id='entry'></p>
        <script>
   let x= <%-JSON.stringify(data.x)%>
    let y= <%-JSON.stringify(data.y)%>
    let z= <%-JSON.stringify(data.z)%>
let text = <%-JSON.stringify(data.text)%>;

        </script>
  <script type= 'text/javascript' src='/plot.js'></script>

</body>
    
</html>
