
  /** Extend boostrap styles **/
  .card {
    border:none;
    color: #50a3a2;
    background: white;
    width:75%;
    display:block;
    margin:auto;
    margin-bottom:25px
}
/** styles for random parts **/
#myDiv {
  margin:auto;
}
body {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}
@media only screen and (max-width: 600px) {
  .card {
      width: 95%;
  }
}
